*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "image sidebar"
    "slider sidebar";
  width: 80vw;
  min-height: 100vh;
  margin-inline: auto;
  background-color: #dadada;
}

/* Image Section */
.image-container {
  grid-area: image;
  background-image: url('https://source.unsplash.com/EwKXn5CapA4');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Sidebar Section */
.sidebar-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
}

.sidebar-item {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item:not(:last-child)::after {
  content: '';
  position: absolute;
  inset: auto 10% 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
}

.sidebar-item:is(:hover, :focus) {
  background-color: hsl(265, 100%, 76%);
}

.sidebar-item.active {
  background-color: hsl(265, 100%, 70%);
}

/* Slider Section */
.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  display: block;
  width: 75%;
  margin-inline: auto;
  cursor: pointer;
}

.slider-value {
  text-align: center;
  font-size: 2rem;
  margin-block: 0 0.5rem;
}